/*==========================
tab rotate 
===========================*/
@media (min-width: 1200px) and (max-width: 1500px) {
  .ts-themes {
    padding-bottom: 40px;
  }
  .ts-themes .section-title {
    font-size: 42px !important;
    line-height: 42px !important;
  }
  .hero-area.content-left .banner-item {
    padding: 78px 0px 0px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap .banner-info {
    margin-bottom: 60px;
  }
  .hero-area.content-left .banner-item .col-resp {
    padding: 0px !important;
  }
  .hero-area.content-left .banner-item .col-resp .form-1 {
    padding: 50px 65px 35px;
  }
  .hero-area.content-left .banner-item .col-resp .form-1 .form-group {
    margin: 10px 0px;
  }
  .hero-area.content-left .banner-item .col-resp .form-1 .btn {
    font-size: 23px !important;
    height: 62px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .hero-area.content-left .banner-item .col-resp {
    padding: 0px !important;
  }
  .hero-area.content-left .banner-item .col-resp .form-1 {
    padding: 60px 65px 30px;
  }
  .hero-area.content-left .banner-item .col-resp .form-1 .form-group {
    margin: 10px 0px;
  }
  .ts-schedule .bloq-info p {
    font-size: 15px !important;
  }
  .ts-schedule .bloq-info p.pd-align {
    margin-top: 24px !important;
  }
  .ts-schedule .bloq-info strong {
    font-size: 20px !important;
    line-height: 20px !important;
  }
  .ts-themes {
    padding-bottom: 40px;
  }
  .ts-themes .section-title {
    font-size: 37px !important;
    line-height: 37px !important;
  }
  .ts-themes .col-text .text-direct p {
    font-size: 16px;
  }
  .header ul.navbar-nav > li > a {
    padding: 0 10px;
    font-size: 13px;
  }
  .banner-item .banner-content-wrap .banner-title {
    font-size: 55px !important;
  }
  .banner-item .banner-content-wrap .banner-title span {
    font-size: 67px !important;
  }
  .hero-area.content-left .banner-item .banner-content-wrap .banner-info {
    margin-bottom: 60px;
  }
  .hero-area.centerd-item .banner-item {
    min-height: 650px;
  }
  .hero-area.centerd-item .banner-item:after {
    width: 500px;
    height: 500px;
  }
  .hero-area.centerd-item .banner-item .banner-content-wrap {
    padding: 50px 0;
  }
  .hero-area.content-left .banner-item {
    margin: 100px 20px 0;
  }
  .ts-speaker .speaker-img {
    width: 205px;
    height: 205px;
  }
  .speaker-classic .ts-title {
    font-size: 20px;
  }
  .speaker-shap {
    display: none;
  }
  h2 {
    line-height: 28px;
  }
  .ts-map .mapouter .gmap_canvas {
    width: 400px;
    height: 400px;
  }
  .ts-single-outcome {
    width: 210px;
    height: 210px;
  }
  .ts-single-outcome i {
    font-size: 60px;
    margin-bottom: 15px;
  }
  .social-box ul li a {
    margin-right: 0;
  }
  .post .post-body .entry-header .entry-title {
    font-size: 24px;
    line-height: 28px;
  }
  .ts-blog .post .post-body .entry-header .entry-title {
    font-size: 20px;
  }
  .ts-exp-wrap .ts-exp-content .column-title {
    font-size: 32px;
  }
  .header.header-transparent .navbar-brand img {
    max-width: 290px;
    width: 100%;
  }
}

/*==========================
tab device 
===========================*/
@media (min-width: 768px) and (max-width: 991px) {
  .banner-item .banner-content-wrap img {
    display: none;
  }
  .ts-themes .col-one .part-col {
    border-right: none;
    margin: 0px auto;
  }
  .ts-themes .col-one .part-col .section-title {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-conteiner .text {
    font-size: 18px;
  }
  .dropdown-menu.show {
    display: block;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .header ul.navbar-nav > li {
    max-width: none !important;
    width: 100%;
    border-right: none;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none;
  }
  .navbar-toggler {
    padding: 8px;
    cursor: pointer;
  }
  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  .header .navbar-light .navbar-toggler {
    color: #fff;
  }
  .header ul.navbar-nav > li > a {
    line-height: 40px !important;
  }
  .header ul.navbar-nav > li > a i {
    float: right;
    padding-top: 12px;
  }
  .header ul.navbar-nav > li .dropdown-menu {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-classic {
    padding: 10px 0;
  }
  .header-transparent .navbar-toggler {
    color: #fff;
  }
  .header-transparent .navbar-nav {
    padding: 20px 0;
  }
  .header-transparent .navbar-nav li .dropdown-menu li a {
    color: #fff !important;
  }
  .header.header-transparent.nav-border .navbar {
    padding: 10px 0;
  }
  .header ul.navbar-nav > li.header-ticket {
    padding: 0 15px;
  }
  .header ul.navbar-nav > li.header-ticket .ticket-btn {
    margin-left: 0;
  }
  .banner-img {
    display: none;
  }
  .banner-item {
    min-height: 700px;
  }
  .banner-item .banner-content-wrap .banner-title {
    font-size: 48px;
    line-height: 56px;
  }
  .hero-area.centerd-item .banner-item .banner-content-wrap .banner-title {
    font-size: 55px;
  }
  .hero-area.centerd-item .countdown .counter-item {
    width: 90px;
    height: 90px;
  }
  .hero-area.centerd-item .countdown .counter-item i {
    font-size: 90px;
    top: 6px;
    right: 0;
    margin: auto;
  }
  .hero-area.content-left .banner-item {
    margin: 0;
    min-height: inherit;
  }
  .hero-area.content-left .banner-item .banner-content-wrap {
    padding: 160px 0 15px;
  }
  .hero-speakers .banner-item .banner-content-wrap {
    padding: 160px 0 0;
  }
  .hero-form-content {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .hero-form-content h2 {
    font-size: 30px;
  }
  .ts-schedule {
    height: auto;
    padding: 95px 0px !important;
  }
  .ts-schedule .bloq-area {
    padding: 30px 0px 10px;
    margin-bottom: 40px;
  }
  .ts-schedule .bloq-area .tab {
    height: 70px;
  }
  .ts-schedule .bloq-area .tab .tab-1 {
    width: 220px;
    padding-left: 14px;
    font-size: 34px;
  }
  .ts-schedule .bloq-area .tab .tab-2 {
    width: 80px;
  }
  .ts-schedule .bloq-area .btn-area {
    max-width: 320px !important;
    height: 64px;
    margin: auto;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22.5px;
  }
  .ts-schedule .bloq-area .row-infor {
    padding: 20px 55px !important;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info {
    padding: 20px 15px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .col-info-bloq {
    padding-left: 15px !important;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .height-d {
    height: 31px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info h3 {
    font-size: 18px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .img-area {
    left: 0px;
    position: relative;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info strong {
    font-size: 17px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info p {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 16px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info p.pd-align {
    margin-top: 4px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .col-table {
    display: block;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .d-info {
    display: block;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .d-info.two {
    margin-left: 45px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .hide-table {
    display: none;
  }
  .ts-schedule .bloq-area .row-btns {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .speaker-shap {
    display: none;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .data {
    text-align: center;
    padding-top: 10px;
  }
  /* Contact Page*/
  .single-contact-feature {
    margin-bottom: 30px;
  }
  .page-banner-title {
    padding: 0 20px;
  }
  .page-banner-title h2 {
    font-size: 36px;
  }
  .post .post-body .entry-header .entry-title {
    font-size: 24px;
    line-height: 28px;
  }
  .about-intro-text {
    text-align: center !important;
    max-width: 500px;
    margin: auto auto 30px;
  }
  .about-video {
    margin: 0 0 30px;
  }
  .intro-content-text {
    margin-bottom: 40px;
  }
  .venue-img {
    margin-bottom: 30px;
  }
  .venue-img img {
    width: 100%;
  }
  .single-venue-content {
    margin-bottom: 40px;
  }
  .map-left .ts-map {
    margin-bottom: 40px;
  }
  .post-tags,
  .share-items {
    width: 100%;
    float: none !important;
    margin: 5px 0;
  }
  .ts-book-seat .book-seat-content .section-title {
    font-size: 36px;
  }
  .gallery-wrap .gallery-2 {
    margin: 0;
  }
  .gallery-wrap img {
    width: 100%;
  }
  .ts-footer.ts-footer-item .footer-menu,
  .ts-footer.ts-footer-item .ts-footer-social,
  .ts-footer.ts-footer-item .copyright-text.text-right {
    text-align: center !important;
  }
  .ts-footer.ts-footer-item .newsletter-form {
    margin-top: 40px;
  }
  .header .navbar-collapse {
    max-width: none;
    overflow: auto;
    float: none !important;
    width: 100% !important;
    padding: 0px;
    border: 0;
  }
  .header .navbar-nav {
    position: static;
    margin: 0px;
  }
}

/*==========================
small device /mobile sm and large
===========================*/
@media (max-width: 767px) {
  .banner-item .banner-content-wrap img {
    display: none;
  }
  .ts-themes .col-text .text-direct {
    margin-bottom: 120px;
  }
  .dropdown-menu.show {
    display: block;
  }
  .mb-100 {
    margin-bottom: 50px;
  }
  .btn {
    font-size: 14px;
  }
  h2 {
    line-height: 28px;
  }
  .ts-schedule {
    height: auto;
    padding: 95px 0px !important;
  }
  .ts-schedule .section-title {
    font-size: 48px;
  }
  .ts-schedule .bloq-area {
    padding: 30px 0px 10px;
    margin-bottom: 40px;
  }
  .ts-schedule .bloq-area .tab {
    height: 70px;
  }
  .ts-schedule .bloq-area .tab .tab-1 {
    width: 220px;
    padding-left: 16px;
    font-size: 27px;
  }
  .ts-schedule .bloq-area .tab .tab-2 {
    width: 80px;
  }
  .ts-schedule .bloq-area .btn-area {
    max-width: 270px !important;
    height: 67px;
    margin: 20px auto 5px;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 26px;
  }
  .ts-schedule .bloq-area .row-infor {
    padding: 20px 55px !important;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info {
    padding: 20px 15px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .height-d {
    height: 31px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info h3 {
    font-size: 18px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .img-area {
    left: 0px;
    position: relative;
    margin-bottom: 15px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info strong {
    font-size: 17px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info p {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 16px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info p.pd-align {
    margin-top: 4px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info p.pd-align br {
    display: none;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .col-table {
    display: block;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .d-info {
    display: block;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .d-info.two {
    margin-left: 45px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .hide-table {
    display: none;
  }
  .ts-schedule .bloq-area .row-btns {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .ts-themes .col-one .part-col {
    border-right: none;
    margin: 0px auto;
  }
  .ts-themes .col-one .part-col .section-title {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 39px;
    height: auto;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none;
  }
  .header.header-transparent.nav-border .navbar {
    padding: 10px 0;
  }
  .header .navbar-light .navbar-toggler {
    font-size: 50px;
  }
  .header ul.navbar-nav > li > a {
    line-height: 20px !important;
  }
  .header ul.navbar-nav > li > a br {
    display: none;
  }
  .header ul.navbar-nav > li > a i {
    float: right;
    padding-top: 12px;
  }
  .header ul.navbar-nav > li .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header.h-transparent2 .navbar.navbar-light ul.navbar-nav > li > a {
    color: #fff;
    text-align: left;
  }
  .header.h-transparent2 .navbar.navbar-light ul.navbar-nav > li > a i {
    float: right;
    padding-top: 12px;
  }
  .header-classic {
    padding: 10px 0;
  }
  .navbar-nav {
    padding: 20px 0;
  }
  .navbar-toggler {
    padding: 8px;
    cursor: pointer;
  }
  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  .navbar-brand img {
    max-width: 400px;
    width: 100%;
  }
  .header ul.navbar-nav > li {
    max-width: none !important;
    width: 100%;
    border-right: none;
  }
  .header-transparent .navbar-toggler {
    color: #fff;
  }
  .header-transparent .navbar-nav {
    padding: 20px 0;
  }
  .header-transparent .dropdown-menu {
    background: transparent;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    padding: 10px 25px;
  }
  .header-transparent .dropdown-menu li a {
    color: #fff !important;
  }
  .header ul.navbar-nav > li.header-ticket {
    padding: 0 15px;
  }
  .header ul.navbar-nav > li.header-ticket .ticket-btn {
    margin-left: 0;
  }
  .banner-img {
    display: none;
  }
  .banner-item {
    min-height: 550px;
  }
  .banner-item .banner-content-wrap {
    padding: 180px 0 100px;
  }
  .banner-item .banner-content-wrap p.banner-info {
    font-size: 18px;
  }
  .banner-item .banner-content-wrap h1.banner-title {
    font-size: 28px;
    font-size: 30px;
    margin-bottom: 35px;
    line-height: 40px;
  }
  .banner-item .banner-content-wrap .countdown {
    margin-bottom: 40px;
  }
  .banner-item .banner-content-wrap .countdown .counter-item {
    margin-bottom: 20px;
  }
  .banner-item .banner-content-wrap .banner-btn .btn {
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .banner-item .banner-content-wrap .banner-btn .btn.fill {
    margin-left: 0;
  }
  .main-slider .banner-item {
    min-height: 800px;
  }
  .main-slider .banner-item .banner-content-wrap p.banner-desc {
    padding: 0;
  }
  .main-slider .banner-item .banner-content-wrap h1.banner-title {
    margin-bottom: 15px;
  }
  .main-slider .owl-dots {
    bottom: 110px;
  }
  .ts-count-down .countdown {
    padding-bottom: 30px;
  }
  .ts-count-down .countdown .counter-item {
    width: 50%;
    padding-bottom: 0;
  }
  .ts-count-down .countdown .counter-item span {
    font-size: 50px;
  }
  .ts-count-down .countdown .counter-item b {
    right: -10px;
  }
  .ts-count-down .countdown .counter-item:nth-of-type(2) b {
    display: none;
  }
  .header .navbar {
    padding: 16px 0px;
  }
  .hero-area.content-left {
    background-repeat: no-repeat;
    background-position: bottom 50% !important;
  }
  .hero-area.content-left .banner-item {
    min-height: inherit;
    margin: 5px 0px 0px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap {
    padding-bottom: 5px;
    padding-top: 140px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap h1.banner-title {
    font-size: 46px;
    line-height: 45px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap h1.banner-title span {
    font-size: 69px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap p.banner-info {
    font-size: 25px;
  }
  .hero-area.content-left .banner-item .col-resp {
    padding: 0px !important;
  }
  .hero-area.content-left .banner-item .col-resp .form-1 .form-group {
    margin: 10px 0px;
  }
  .hero-speakers .banner-item .banner-content-wrap {
    padding: 160px 0 0;
  }
  .hero-form-content {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .hero-form-content h2 {
    font-size: 30px;
  }
  .ts-intro {
    padding: 60px 0;
  }
  .ts-intro .single-intro-text.mb-70 {
    margin-bottom: 40px;
  }
  .ts-intro .intro-video {
    width: 100%;
    height: auto;
    margin: 30px 0;
    border-radius: 0;
  }
  .intro-left-content {
    margin-bottom: 40px;
  }
  .ts-intro-item .col-lg-6:last-of-type .single-intro-text {
    margin-bottom: 0;
  }
  section.p-60 {
    padding: 30px 0;
  }
  .ts-intro.event-intro {
    padding-top: 20px;
  }
  .ts-intro-outcome {
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .ts-intro-outcome .ts-single-outcome {
    margin: auto auto 30px;
  }
  .ts-event-outcome {
    padding-bottom: 40px;
  }
  .outcome-content {
    margin-bottom: 40px;
  }
  .outcome-content .outcome-img img {
    width: 100%;
  }
  .ts-funfact {
    padding: 60px 0 40px;
  }
  .ts-single-funfact {
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .ts-single-funfact:before {
    margin: auto;
    right: 0;
  }
  .section-title,
  .column-title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 35px;
  }
  .column-title,
  .pricing-item {
    margin-bottom: 35px;
  }
  .speaker-shap {
    display: none;
  }
  .ts-footer {
    padding: 290px 0 60px;
  }
  .ts-footer.ts-footer-item .newsletter-form {
    margin-top: 40px;
  }
  .ts-footer.ts-footer-item .footer-menu,
  .ts-footer.ts-footer-item .ts-footer-social {
    text-align: center;
  }
  .ts-footer.ts-footer-item .copyright-text.text-right {
    text-align: center !important;
  }
  .ts-submit-btn .btn {
    padding: 0 15px;
    font-size: 14px;
  }
  .footer-menu ul li a {
    display: inline-block;
    margin: 5px 20px;
  }
  .about-video {
    margin: 10px 0;
  }
  /* Contact Page*/
  .single-contact-feature {
    margin-bottom: 30px;
  }
  /* 404 page */
  .error-page .error-code h2 {
    font-size: 100px;
    margin-bottom: 0px;
  }
  /* Speaker 2 */
  .speaker-II .ts-speaker .speaker-img {
    width: 265px;
    height: 265px;
  }
  .page-banner-area {
    min-height: 300px;
  }
  .page-banner-title {
    padding: 0 20px;
  }
  .page-banner-title h2 {
    font-size: 36px;
  }
  .ts-grid-item .grid-item:last-of-type {
    margin-bottom: 0;
  }
  .faq-item .faq-list h4 a {
    height: auto;
    line-height: 26px;
    padding: 15px 30px 15px 20px;
  }
  .faq-item .faq-list h4 a:before {
    top: 12px;
  }
  .asq-form {
    margin: 30px 0;
  }
  .ts-book-seat .book-seat-content .section-title {
    font-size: 28px;
  }
  .blog-details .entry-header {
    padding: 0;
  }
  .blog-details .entry-header .entry-title {
    font-size: 24px;
  }
  .blog-details .post-content {
    margin: 30px 0;
  }
  .blog-details .post-single .post-body {
    padding: 0;
  }
  .blog-details .post-tags {
    width: 100%;
  }
  .blog-details .post-tags a {
    margin-bottom: 10px;
  }
  .blog-details .share-items {
    float: none !important;
    width: 100%;
    display: block;
  }
  .author-box {
    padding: 20px;
  }
  .author-box img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  .author-box .author-info p {
    padding-left: 65px;
  }
  .comments-reply {
    margin-left: 0;
  }
  .ts-map-tabs ul li a {
    font-size: 14px;
    margin-right: 0;
  }
  .direction-tabs-content .contact-info-box {
    margin-bottom: 30px;
  }
  .header .navbar-collapse {
    max-height: 320px;
    max-width: none;
    float: none !important;
    width: 100% !important;
    padding: 0px;
    border: 0;
  }
  .header .navbar-nav {
    position: static;
    margin: 0px;
  }
  .form-1 {
    background-color: #8B8F9D !important;
    padding: 35px 32px !important;
  }
}

@media (max-width: 480px) {
  .banner-item {
    background-color: rgba(139, 143, 157, 0.4);
  }
  .banner-item .banner-content-wrap .banner-info {
    font-size: 12px;
    font-weight: bolder;
  }
  .section-networking {
    padding-bottom: 50px;
  }
  .section-certificate {
    background-position: 39%;
  }
  .section-certificate h1 {
    font-size: 800px;
    top: -43px;
    right: -163px;
  }
  .section-certificate .section-title {
    font-size: 34px;
    line-height: 30px;
  }
  .section-certificate .logo {
    max-width: 270px;
  }
  .ts-themes {
    padding-bottom: 0px;
  }
  .ts-themes .section-title {
    font-size: 27.5px !important;
    line-height: 27px !important;
    border-bottom: 3px solid #DC0933;
    padding-bottom: 18px;
    margin-bottom: 24px;
  }
  .ts-themes .col-text h1 {
    bottom: -34px;
    line-height: 80px;
    font-size: 800px;
    right: -152px;
    top: 67px;
  }
  .ts-themes .col-text p {
    font-size: 16px;
    text-align: center;
  }
  .ts-schedule {
    height: auto;
    padding: 60px 0px 0px !important;
  }
  .ts-schedule .section-title {
    font-size: 39px;
    padding-top: 20px;
  }
  .ts-schedule h4 {
    font-size: 22px;
    line-height: 24px;
  }
  .ts-schedule .bloq-area {
    padding: 50px 0px 10px;
    margin-bottom: 0px;
  }
  .ts-schedule .bloq-area .tab {
    height: 70px;
  }
  .ts-schedule .bloq-area .tab .tab-1 {
    width: 220px;
    padding-left: 18px;
    font-size: 27px;
  }
  .ts-schedule .bloq-area .tab .tab-2 {
    width: 80px;
  }
  .ts-schedule .bloq-area .btn-area {
    max-width: 270px !important;
    height: 60px;
    margin: 46px auto 5px;
    border-radius: 40px;
    font-size: 23.4px;
    border: none;
  }
  .ts-schedule .bloq-area .row-infor {
    padding: 20px 35px !important;
  }
  .ts-schedule .bloq-area .row-infor p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 5px 8px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info {
    padding: 20px 15px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .height-d {
    height: 31px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info h3 {
    font-size: 18px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .img-area {
    left: 0px;
    position: relative;
    margin-bottom: 15px;
    max-width: 420px;
    width: 100%;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info strong {
    font-size: 17px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info p {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 16px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info p.pd-align {
    margin-top: 4px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info p.pd-align br {
    display: none;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .col-table {
    display: block;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .d-info {
    display: block;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .d-info.two {
    margin-left: 45px;
  }
  .ts-schedule .bloq-area .row-infor .bloq-info .hide-table {
    display: none;
  }
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .navbar-brand img {
    max-width: 240px;
    width: 100%;
  }
  .hero-area.content-left .banner-item .banner-content-wrap {
    padding-bottom: 5px;
    padding-top: 130px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap h1.banner-title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap h1.banner-title span {
    font-size: 47px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap p.banner-info {
    font-size: 18px;
  }
  .section-title span, .column-title span {
    font-size: 40px !important;
  }
  .hero-area.content-left .banner-item {
    min-height: inherit;
    margin: 6px 0px 0px;
  }
  .hero-area.content-left .banner-item .col-shadow {
    background-image: url("../images/banner/kv-mb.jpg");
    background-size: cover;
    background-position: bottom center;
  }
  .hero-area.content-left .banner-item .banner-content-wrap {
    padding-bottom: 5px;
    padding-top: 140px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap h1.banner-title {
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    padding-top: 98px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap h1.banner-title span {
    font-size: 45px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap p.banner-info {
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    padding-bottom: 10px;
  }
  .hero-area.content-left .banner-item .col-resp {
    padding: 0px !important;
  }
  .hero-area.content-left .banner-item .col-resp .form-1 .form-group {
    margin: 10px 0px;
  }
  .carrusel-content {
    padding-bottom: 65px;
  }
  .carrusel-content .ts-speakers {
    padding-bottom: 15px;
  }
  .carrusel-content .ts-speakers .col-text h1 {
    left: -104px;
    top: -90px;
    font-size: 865px;
  }
  .carrusel-content .ts-speakers .col-text .section-title {
    font-size: 39px;
    line-height: 36px;
    padding-bottom: 0px;
  }
  .carrusel-content .ts-speakers .col-text .section-title br {
    display: block;
  }
  .carrusel-content .ts-speakers .col-text h4 {
    font-size: 25px;
  }
  .carrusel-content .ts-speakers .col-text p {
    font-size: 16.8px;
    padding: 0px 7px;
  }
  .carrusel-content .item-slide {
    padding-bottom: 80px;
  }
  .carrusel-content .item-slide .text-expositor {
    margin-bottom: 0px;
    font-size: 12.7px;
    line-height: 15.4px;
  }
  .carrusel-content .item-slide .name-expositor {
    font-size: 18px;
  }
  .carrusel-content .item-slide .slick-dots {
    top: 1px;
  }
  .section-especializate h1 {
    left: -176px;
    top: -25px;
    font-size: 800px;
  }
  .section-especializate p {
    font-size: 16px;
    padding-bottom: 0px;
  }
  .section-especializate .section-title {
    font-size: 30px;
    line-height: 31px;
    padding-bottom: 0px;
  }
  .section-networking .section-title {
    font-size: 31.5px;
  }
  .section-networking h1 {
    left: -173px;
    top: 30px;
    font-size: 800px;
  }
  .form-1 {
    padding: 35px 45px 26px !important;
  }
  .form-1 .btn {
    font-size: 21px !important;
  }
  .form-1 h1 {
    font-size: 19px !important;
    text-align: center;
  }
  .form-1 h1 span {
    font-size: 14px !important;
    line-height: 15.5px;
    font-family: 'raleway-medium';
  }
  .form-1 .form-check-label a {
    font-size: 12.3px;
    line-height: 14px;
  }
  .form-1 input, .form-1 select {
    border: none !important;
  }
  .form-1 .btn {
    border: none !important;
  }
}

@media (max-width: 325px) {
  .form-1 {
    padding: 35px 32px 22px !important;
  }
  .form-1 h1 {
    font-size: 17px !important;
    line-height: 17.5px !important;
  }
  .form-1 h1 span {
    font-size: 15px;
    line-height: 12.5px;
  }
  .form-1 .btn {
    font-size: 19px !important;
  }
  .form-1 select, .form-1 input {
    font-size: 14px !important;
  }
  .navbar .navbar-brand img {
    max-width: 182px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap {
    padding-bottom: 5px;
    padding-top: 120px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap h1.banner-title {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 0px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap h1.banner-title span {
    font-size: 35px;
  }
  .hero-area.content-left .banner-item .banner-content-wrap p.banner-info {
    font-size: 18px;
    line-height: 19px;
  }
}
/*# sourceMappingURL=responsive.css.map */